  <ng-container *ngFor="let menuItem of subMenu">
    <ng-container *ngIf="menuItem.subMenu && menuItem.subMenu.length > 0">
      <li class="dropdown">
        <a class="dropdown-item">{{ menuItem.title }}</a>
        <ul class="submenu dropdown-menu">
          <app-menu-item #menu [subMenu]="menuItem.subMenu"></app-menu-item>
          <!-- <li *ngFor="let subMenuItem of menuItem.subMenu">
            <a href="{{ subMenuItem.path }}">{{ subMenuItem.title }}</a>
          </li> -->
        </ul>
        <!-- <app-menu-item #menu [subMenu]="menuItem.subMenu"></app-menu-item> -->
      </li>
    </ng-container>
    <ng-container *ngIf="
        !menuItem.subMenu || (menuItem.subMenu && menuItem.subMenu.length === 0)
      ">
      <li>
        <a class="dropdown-item" href="{{ menuItem.path }}">{{ menuItem.title }}</a>
      </li>
    </ng-container>
  </ng-container>
